body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin: 100px;
  color: white;
}

td, th {
    padding: 30px;
    border: 1px solid white;
}

.input {
  cursor: pointer;
  box-sizing: border-box;
}

img {
  width: 20px;
  cursor: pointer;
}

select {
  width: 18px
}

.selectedCell {
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px
}

.buttonCringe {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px
}

.checkbox {
  border: none;
  transform: scale(2);
}