body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin: 100px;
  color: white;
}

/* td, th {
    padding: 30px;
    border: 1px solid white;
} */

.flextable {
  display: flex;
}

.wj-pivotpanel {
  width: 500px !important;
  margin: 0px 10px !important;
}

.wj-pivotgrid {
  height: 600px !important;
}

.input {
  cursor: pointer
}