body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin: 100px;
  color: white;
}

td, th {
    padding: 30px; /* Поля вокруг содержимого таблицы */
    border: 1px solid white; /* Параметры рамки */
}

.input {
  cursor: pointer
}